/*
================================================================================
|                                     reset                                     |
================================================================================
*/
body {
  margin: 0px;
  padding: 0px;
  font-family: Tahoma,Arial, sans-serif;
  background-color: #FFFFFF;
  height: 100%;
  position: relative;
  font-size: 13px !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

/*MAIN*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer,
header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, main {
  display: block; }

body {
  line-height: 1;
  font-family: 'PT Sans', sans-serif;
  min-width: 320px;
}

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-width: 0px;
  padding: 0px;
  margin: 0px; }

html {
  height: 100%;
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none; }

input, textarea {
  color: #333;
  outline: none;
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  -webkit-appearance: none; }

input[type="button"], input[type="submit"], button {
  cursor: pointer; }

td {
  margin: 0px;
  padding: 0px; }

form {
  padding: 0px;
  margin: 0px; }

a {
  color: #000100;
  transition: all 0.2s linear;
  text-decoration: none;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: transparent; }

input[type=submit], input[type=button], button {
  -webkit-appearance: none;
  outline: none; }

* {
  box-sizing: border-box; }

*:before, *:after {
  box-sizing: border-box; }

.clearfix:after,
.wrapper:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

/*
================================================================================
|                              VARIABLES AND MIXINS                                   |
================================================================================
*/
$borderColor: #DDDFDF;
$lilac: #747688;
$gold: #CB944C;


@mixin flex($hor, $vert) {
  display: flex;
  justify-content: $hor;
  align-items: $vert;
}
@mixin desktop {
  @media screen and (max-width: 1245px) {
    @content
  }
}
@mixin tablet {
  @media screen and (max-width: 1024px) {
    @content
  }
}
@mixin mobile {
  @media screen and (max-width: 767px) {
    @content
  }
}

/*
================================================================================
|                                     HEADER                                   |
================================================================================
*/
.header {
  margin: 0 auto;
  width: 1245px;
  padding: 30px 0;
  @include desktop {
    width: 100%;
  }
  @include  mobile {
    padding: 0;
  }
  &__intro {
    padding: 0 15px 15px 15px;
    position: relative;
    @include desktop {
      padding-bottom: 40px;
    }
    @include mobile {
      padding: 15px 15px 20px 20px;
    }
  }
  &__contacts {
    margin-top: 5px;
    float: right;
    @include mobile {
      display: none;
    }
  }
  &__tel {
    font-size: 23px;
    color: black;
    margin-top: 3px;
    margin-right: 15px;
    float: left;
    @include tablet {
      font-size: 16px;
    }
  }
  &__box {
    float: right;
  }
  &__schedule {
    font-size: 14px;
    color: $gold;
  }
  &__delivery {
    font-size: 14px;
    color: #2B3056;
    margin-top: 3px;
  }
  &__mob {
    font-size: 0;
    display: none;
    @include mobile {
      display: block;
    }
  }
  &__mob-item {
    height: 40px;
    width: calc(100%/6);
    display: inline-block;
    vertical-align: top;
    background: #F0F1F6;
    position: relative;
    &:after {
      display: block;
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      background: url("../img/sprite.png");
    }
    &_burger {
      padding: 0;
      background: #3EADE2;
      border: none;
      &:after {
        background-position: -17px -53px;
        margin-left: -8px;
        margin-top: -7px;
        z-index: 1;
        width: 16px;
        height: 14px;
      }
    }
    &_home:after {
      background-position: -202px -30px;
      width: 20px;
      height: 16px;
      margin-left: -10px;
      margin-top: -8px;
    }
    &_search:after {
      background-position: -65px -53px;
      width: 16px;
      height: 16px;
      margin-left: -8px;
      margin-top: -8px;
    }
    &_cart:after {
      background-position: -0px -53px;
      width: 17px;
      height: 17px;
      margin-left: -8.5px;
      margin-top: -8.5px;
    }
    &_user:after {
      background-position: -222px -30px;
      width: 19px;
      height: 16px;
      margin-left: -9.5px;
      margin-top: -8px;
    }
    &_contacts:after {
      background-position: -49px -53px;
      width: 16px;
      height: 17px;
      margin-left: -8px;
      margin-top: -8.5px;
    }
  }
}

.logo {
  margin-top: 5px;
  float: left;
  @include desktop  {
    margin-top: 0;
  }
  &__img {
    width: 247px;
    height: 30px;
    background: url("../img/sprite.png");
    background-position: -0px -0px;
    @include tablet {
      width: 179px;
      height: 23px;
      background: url("../img/sprite.png");
      background-position: -0px -30px;
    }
  }
  h1 {
    font-size: 14px;
    font-weight: 400;
    color: $lilac;
    margin-top: 5px;
  }
}
.query {
  position: relative;
  float: left;
  margin-left: 40px;
  height: 40px;
  @include desktop {
    width: 36%;
  }
  @include tablet {
    width: 28%;
    margin-left: 30px;
  }
  @include mobile{
    display: none;
  }

  &__text {
    width: 495px;
    height: 40px;
    line-height: 40px;
    border: 1px solid #B9B8BD;
    border-radius: 3px;
    font-size: 14px;
    color: $lilac;
    padding: 0 40px 0 10px;
    @include desktop {
      width: 100%;
    }
    @include tablet {
      font-size: 11px;
    }
  }
  &__submit {
    display: block;
    width: 40px;
    height: 40px;
    background: url("../img/search.png") center center no-repeat;

    position: absolute;
    top: 50%;
    margin-top: -20px;
    right: 0;
    border: none;
  }
}
.bar {
  border-top: 1px solid $borderColor;
  border-bottom: 1px solid $borderColor;
  padding: 15px;
  position: relative;
  @include mobile {
    display: none;
  }
  &__nav-wrap {
    float: left;
    margin-top: 4px;
    @include desktop {
      float: none;
      width: 100%;
    }
  }
  &__nav {
    list-style: none;
    font-size: 0;
    @include desktop {
      @include flex(space-between, center)
    }
    li {
      display: inline-block;;
      margin-right: 25px;
      font-weight: 700;
      font-size: 16px;
      text-transform: uppercase;
      color: #181818;
      position: relative;
      @include tablet {
        font-size: 13px;
      }
      &:last-of-type {
        margin-right: 0;
      }
    }

  }
  &__nav-has-dd {
    cursor: pointer;
    &:before {
      display: inline-block;
      content: '';
      width: 16px;
      height: 12px;
      background: url("../img/sprite.png");
      background-position: -33px -53px;
      margin-right: 10px;
    }
    &:after {
      display: inline-block;
      content: '';
      width: 11px;
      height: 7px;
      background: url("../img/sprite.png");
      background-position: -137px -53px;
      margin-left: 10px;
      margin-bottom: 3px;
    }
  }
  &__box {
    float: right;
    @include desktop {
      float: none;
      position: absolute;
      top: -40px;
      right: 15px;
    }

  }
  &__cart {
    font-size: 0;
    float: left;

  }
  &__cart-ico {
    width: 23px;
    height: 23px;
    background: url("../img/sprite.png");
    background-position: -179px -30px;
    display: inline-block;
    vertical-align: middle;
  }
  &__cart-items-holder {
      vertical-align: middle;
      margin: 0 10px;
      background: $gold;
      height: 23px;
      line-height: 23px;
      border-radius: 50%;
      display: inline-block;
      padding: 0 5px;
    span {
      font-weight: 700;
      color: white;
      font-size: 14px;
      text-align: center;
    }
  }
  &__items {
    text-transform: uppercase;
    font-size: 16px;
    color: #252A54;
    font-weight: 700;
    display: inline-block;
    vertical-align: middle;
    @include tablet {
      font-size: 13px;
    }
  }
  &__login {
    margin-left: 20px;
    float: right;
    margin-top: 2px;
  }
  &__login-ico {
      @extend .bar__cart-ico;
      background: url("../img/sprite.png");
      background-position: -202px -46px;
      margin-right: 10px;
      width: 19px;
      height: 17px;
  }
  &__login-link {
      @extend .bar__items;
  }
  &__list {
    width: 245px;
    position: absolute;
    background: white;
    border: 1px solid $borderColor;
    box-shadow: 3px 3px 3px rgba(black, .2);
    z-index: 1;
    border-radius: 3px;
    padding-top: 10px;
    padding-bottom: 10px;
    list-style: none;
  }

  &__catalogue {
    top: 65px;
    display: none;
    z-index: 2;
    li {
      color: #666666;
      font-size: 15px;
      position: relative;
      line-height: 1.2em;
      &:before {
        display: block;
        content: '';
        width: 7px;
        height: 7px;
        border: 1px solid $gold;
        border-radius: 50%;
        position: absolute;
        top: 50%;
        margin-top: -3.5px;
        left: 15px;
      }
      &:hover {
        background: #E9E9EA;
      }
      a {
        color: inherit;
        display: block;
        padding: 10px 10px 10px 35px;
      }
    }
  }
  &__catalogue-has-dd {
    padding: 10px 10px 10px 35px;
    &:after {
      display: block;
      content: '';
      background: url("../img/sprite.png");
      background-position: -172px -53px;
      position: absolute;
      right: 18px;
      top: 50%;
      margin-top: -5.5px;
      width: 7px;
      height: 11px;
    }
    &:hover>.bar__subcatalogue {
      display: block;
    }
  }

  &__subcatalogue {
    display: none;
    left: 246px;
    top: -10px;
    li:first-of-type {
      font-size: 16px;
      color: $gold;
      font-weight: bold;
      padding: 10px 10px 10px 15px;
      margin-bottom: 5px;
      &:before {
        display: none;
      }
      &:hover {
        background: none;
      }
    }
  }

}

/*
================================================================================
|                                     SLIDER                                  |
================================================================================
*/
.slider-wrap {
  padding-bottom: 70px;
  @include tablet {
    padding-bottom: 0;
  }
}
.slider {
  width: 100%;
  max-width: 1355px;
  margin: 0 auto;
  position: relative;
  &__content {
    height: 325px;
    @include tablet {
      height: 165px;
    }
    @include mobile {
      height: 125px;
    }
  }
  &__btn {
    height: 130px;
    width: 40px;
    background: rgba($gold, .8);
    position: absolute;
    top: 50%;
    margin-top: -65px;
    z-index: 1;
    border: none;
    padding: 0;
    &:hover {
      background: rgba(white, .8);
    }
    @include tablet {
      width: 20px;
      height: 65px;
      margin-top: -32px;
    }
    @include mobile {
      width: 20px;
      height: 30px;
      margin-top: -15px;
    }
    &_prev {
      left: 0;
      &:after {
        display: block;
        content: '';
        width: 14px;
        height: 28px;
        background: url("../img/sprite.png");
        background-position: -123px -53px;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -14px;
        margin-left: -7px;
        @include tablet {
          width: 8px;
          height: 14px;
          margin-top: -8px;
          margin-left: -4px;
          background-position: -164px -53px;
        }
      }
      &:hover:after {
        background: url("../img/sprite.png");
        background-position: -109px -53px;
        @include tablet {
          background-position: -156px -53px;
        }
      }
    }
    &_next {
      right: 0;
      &:after{
        @extend .slider__btn_prev:after;
        background-position: -95px -53px;
        @include tablet {
          background-position: -148px -53px;
        }
      }
      &:hover:after {
        background-position: -81px -53px;
        @include tablet {
          background-position: -239px -46px;
        }
      }
    }
  }
  //customizing default slick options
  & .slick-list, & .slick-track{
    height: 100%;
  }
  & .slick-dots {
    bottom: -70px;
    & li {
      margin: 0 10px;
      button {
        background: rgba($gold, .5);
        border-radius: 50%;
        width: 18px;
        height: 18px;
        &:before {
          content: '';
        }
      }
      &.slick-active button {
        background: $gold;
      }
    }
  }
}

.slide {
  height: 325px;
  position: relative;
  background-position: center bottom;
  background-repeat: no-repeat;
  @include tablet {
    background-size: 150%;
  }
  @include mobile {
    background-position-y: top;
  }
  &__tip {
    width: 500px;
    height: 130px;
    background: rgba($gold, .8);
    position: absolute;
    top: 50%;
    margin-top: -65px;
    left: 80px;
    padding: 20px 35px;
    @include tablet {
      height: 65px;
      margin-top: -32px;
      width: 287px;
      padding: 10px 20px;
    }
    @include mobile {
      width: 190px;
      height: 43px;
      margin-top: -21px;
      left: 30px;
      padding: 8px 10px;
    }
    p {
      font-size: 42px;
      color: white;
      @include tablet {
        font-size: 23px;
      }
      @include mobile {
        font-size: 15px;
      }
    }
  }
}
